.azure-component {
  text-align:center;
  .azure-transcript {
    padding: @button-padding;
    display: block;
    color: @button-text-color;
    background-color: @button-color;
    text-decoration: none;
    &:hover {
      color: @button-text-hover-color;
      background-color: @button-hover-color;
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%; /* 16x9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.embed-container .azuremediaplayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.azure-transcript {
    padding: @button-padding;
    display: block;
    color: @button-text-color;
    background-color: @button-color;
    text-decoration: none;
    &:hover {
        color: @button-text-color-hover;
        background-color: @button-color-hover;
    }
}

.azure-transcript-container, .azure-body, .azure-instruction {
    text-align: left;
}

.azure-inline-transcript-body-container {
    margin-top: 10px;
    display: none;
}

.azure-inline-transcript-body {
    padding: @component-padding;
}

.azure-transcript-button-container {
    padding:1px;
}

.azure-external-transcript-button, .azure-inline-transcript-button {
    width:100%;
    display:block;
}

.azuremediaplayer li {
    background: none !important;
}

@media (max-width: 1540px) and (min-width: 1367px) {
  .azure-component.component-full .azure-inner {margin-top: 15px;}
  .azure-component.component-full .azure-widget .amp-default-skin {width: 1066px !important; height: 600px !important; text-align: center; display: inline-block; position: relative; margin-bottom: -36.25%;}
  .azure-component.component-full .embed-container {padding-bottom: 36.25%;}
  .azure-component.component-full iframe.removeazureie {width: 1066px !important; height: 600px !important; text-align: center; display: inline-block; position: relative;}
}
@media (max-width: 1366px) and (min-width: 1025px) {
  .azure-component.component-full .azure-widget .amp-default-skin {width: 853px !important; height: 480px !important; text-align: center; display: inline-block; position: relative; margin-bottom: -36.25%;}
  .azure-component.component-full .embed-container {padding-bottom: 36.25%;}
  .azure-component.component-full iframe.removeazureie {width: 853px !important; height: 480px !important; text-align: center; display: inline-block; position: relative;}
}
