.azure-component {
  text-align:center;
  .azure-transcript {
    padding: @button-padding;
    display: block;
    color: @button-text-color;
    background-color: @button-color;
    text-decoration: none;
    &:hover {
      color: @button-text-hover-color;
      background-color: @button-hover-color;
    }
  }
}

.vjs-big-play-button {
    position: relative !important;
    text-align: center !important;
    margin-left: 50%;
    left: -2em !important;
    margin-top: 25%;
    top: -1.3em !important;
}

@media (max-width: 1366px) and (min-width: 1280px) {
  .azure-component.component-full .azure-inner {margin-top: 15px;}
  .azure-component.component-full .azure-widget .amp-default-skin {width: 924px !important; height: 520px !important; text-align: center; display: inline-block;}
}
